<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/style.css">
 <link rel="icon" href="/img/weather.png">

<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>Error Message: {{errorMes}} </p>

    </div>
    
     {{>footer}}
</body>

</html>